@import "bootstrap";
@import "variables";
@import "mixins";

html {
	overflow-x: hidden;
}
body {
	background: $white;
	font-family: $font-family-sans-serif;
	font-weight: 300;
	font-size: .96rem;
	line-height: 1.8;
	color: gray('600');
}
a {
	transition: .3s all ease;
	text-decoration: none;
	&:hover {
		//text-decoration: underline;
		color: $primary;
	}
}
h1, h2, h3, h4, h5 {
	color: $black;
	line-height: 1.5;
	font-weight: 500;
}
.btn, .form-control {
	outline: none;
	box-shadow: none!important;
	border-radius: 0;
	&:focus, &:active {
		outline: none;
	}
}
.form-control {
	box-shadow: none!important;
	height: 50px;
	border-width: 2px;
	border-color: $primary;
}
textarea.form-control {
	height: inherit;
}
ul, li {
	list-style: none;
	margin: 0; 
	padding: 0;
}
.btn {
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: 500;
	&-primary {
		border-width: 2px;
	}
	&-sm {
		font-size: 12px;
	}
	&-outline-primary {
		border-width: 2px;
		color: theme-color('primary');
	}
}

/* Header */
header {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	z-index: 5;
	background: transparent!important;
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
	background: none!important;
	position: relative;
	font-family: $font-family-sans-serif;
	@include media-breakpoint-down(lg) {
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	&-brand {
		text-transform: uppercase;
		letter-spacing: .2em;
		font-weight: 500;
		color: $black;		
		.feather {
			width: 2.5rem;
			height: 2.5rem;
			stroke: $primary;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			fill: none;
		}
	}
	&-nav-scroll {
		@include media-breakpoint-down(md) {
			max-width: 100%;
			height: 3rem;
			overflow: hidden;
		}
	}
	&-nav {
		@include media-breakpoint-down(lg) {
			padding-left: 0!important;
		}
		@include media-breakpoint-down(md) {
			padding-bottom: 2rem;
			overflow-x: auto;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
		}
		span {
			color: $primary;
			font-size: 0.825rem;
			position: absolute;
			right: 10px;
			top: 0;
			font-weight: 500;
		}
	}
	.nav-link {
		padding: 1rem!important;
		outline: none!important;
		font-size: .9rem;
		letter-spacing: .1rem;
		text-transform: uppercase;
		font-weight: 600;
		color: $black;
		line-height: 2;
		// @include media-breakpoint-down(md) {
		// 	padding: .5rem 0rem!important;
		// }
		&.active, &:hover {
			color: $primary;
		}	padding-top: 11px;
	}
	.nav-item {
		position: relative;
	}
}

.slider-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: calc(100vh);
	min-height: 700px;	
	position: relative;
	.slider-text {
		color: $black;
		height: calc(100vh);
		min-height: 700px;
		.col {
			top: 40%;
			@include media-breakpoint-down(xs) {
				top: 30%;
			}
		}
		h1 {
			font-size: 2rem;
			color: $black;
			line-height: 1.2;
			margin-bottom: 30px;
			@include media-breakpoint-down(sm) {
				font-size: 1.25rem;
			}
			@include media-breakpoint-down(xs) {
				font-size: 1rem;
			}
		}
		p {
			font-size: 1rem;
			line-height: 1.5;
			font-weight: 300;
			color: $black;
			margin: 0 auto;
			@include media-breakpoint-down(xs) {
				font-size: 0.875rem;
			}
		}
	}
	
}

// Section
.section {
	padding: 3.5em 0;
}

.heading {
	color: $black;
}

// Footer
.footer {
	border-top: 1px solid $gray-700;
	p {
		color: $black;
		// &:last-child {
		// 	margin-bottom: 0;
		// }
	}
	h3 {
		font-size: 1rem;
		letter-spacing: .1em;
		font-weight: bold;
		color: $black;
		// text-transform: uppercase;
	}
	.footer-link {
		a {
			color: $black;
		}

	}
	&-logo {
		@include media-breakpoint-down(md) {
			text-align: center;	
		}
	}
	&-social {
		.feather {
			&:hover {
				stroke: $primary;
			}
		}
		@include media-breakpoint-down(md) {
			justify-content: center !important;	
		}
	}
}

// animate
.element-animate {
	opacity: 0;
	visibility: hidden;
}

.block-11 {
	.owl-stage {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.owl-nav {
		display: none;
		position: relative;
		position: absolute;
		bottom: -40px;
		left: 50%;
		transform: translateX(-50%);
		.owl-prev, .owl-next {
			&:active, &:focus {
				outline: none;
			}
			position: relative;
			display: inline-block;
			span {
				font-size: 30px;
				padding: 20px;
			}
			&.disabled {
				opacity: .2;
			}
		}
	}
	.owl-dots {
		text-align: center;
		bottom: -2rem;
		position: relative;
		.owl-dot {
			display: inline-block;
			outline: none;
			> span {
				display: inline-block;
				width: 7px;
				height: 7px;
				background: #ccc;
				margin: 5px;
				border-radius: 50%;
			}
			&.active {
				> span {
					background: $primary;
				}
			}
		}
	}
} 

 .block-33 {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	.vcard {
		.image {
			flex: 0 0 60px;
			margin-right: 20px;
			img {
				max-width: 100%;
				border-radius: 50%;
			}
		}
		.name-text {
			.heading {
				line-height: 1.5;
				margin: 0;
				padding: 0;
				font-size: 18px;
				font-weight: 300;
			}
			.meta {
				color: lighten($black, 65%);
				display: block;
			}
		}
	}
	.text {
		blockquote {
			padding: 0;
			margin-bottom: 0;
			border: none!important;
			font-size: 16px;
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

// loader

#loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: $primary;
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}


figure {
	img {
		margin-bottom: 10px;
	}
	figcaption {
		font-size: .8rem;
		font-style: italic;
	}
}

// Feature icon 

.feature{
	.feather {
		width: 3rem;
		height: 3rem;
		stroke: $primary;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill: none;
	}
	h3 {
		font-size: 1.2rem;
	}
}

.product {
 	&-content {
		.rating {
			li {
				display: inline-block;
			}
			.feather {
				width: 1rem;
				height: 1rem;
				stroke: $yellow;
				stroke-width: 1;
				fill: $yellow;
			}
		}
		.price {
			strong {
				color: $black;
				font-weight: 500;
			}
			span {
				text-decoration: line-through;
			}
		}
		a {
			color: $black;
			&:hover {
				color: $primary;
				text-decoration: none;
			}
		}
	}
	&-icon  {
		position: absolute;
	}
	&-img {
		position: relative;
		.second {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: all 0.3s ease 0s;
			z-index: 1;
		}
		.badge {
			background-color: $red;
			position: absolute;
			z-index: 2;
			color:$white;
			padding: 0.5rem;
			top: 10px;
			left: 10px;
		}
		a {
			&:hover {
				.badge { 
				background-color: $white;
				color: $red;
				border: 1px solid $red;
				}
			}
		}
	}
}

.work-thumb {
	display: block;
	position: relative;
	a {
		transition: all 0.3s ease 0s;
		text-decoration: none;
	}
	.work-text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 90%;
		margin-top: 20px;
		transition: .3s all ease;
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, -50%);
		h2 {
			color: $white;
			font-weight: 300;
			margin-bottom: 0;
			font-size: 1.5rem;
		}
		p {
			color: rgba($white, .5);
		}
	}
}

// Banner 

.banner {
	position: relative;
	overflow: hidden;
	&-img{
		a {
			img {
				width: 100%;
				transition: .4s;
				transform: scale(1.0);
				&:hover {
					transform: scale(1.3);
				}
			}
			
		}
	}
	&-content {
		left: 50px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		h3 {
			font-size: 0.825rem;
		}
		h2 {
			font-size: 1.25rem;
			line-height: 1;
		}
	}
}
